{% extends "BcBundle::layout.html.twig" %}
{% block content %}
    <br>
        <div class="container bg-info">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{path("bc_index_autor")}}">
                        <input type="button" value="Ver autores" class="btn btn-warning">
                    </a>
                </div>
            </div>
            <br>
        </div>
                        <br><br>
    {% if app.user != null %}
        {% if app.user.rol == 'ADMIN' %}
            <div class="container bg-warning">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-5">
                        <br>
                        <h2>Añadir Autor</h2>
                        <br>
                        {{form_start(form)}}
                        {{form_end(form)}}
                        <br>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container bg-danger">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-5" align="center">
                        <br><br>
                        <h1>¡Alto ahí, no tienes los permisos necesarios para acceder a esta sección!</h1>
                        <br><br>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container bg-danger">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5" align="center">
                    <br><br>
                    <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                    <br><br>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('assets/js/function.js') }}" type="text/javascript"></script>
    <script>
        $("#MenuUser").toggle();
        $("#titleUser").click(function () {
            $("#MenuUser").toggle();
        });
    </script>
{% endblock %}