{% extends "BcBundle::layout.html.twig" %}
{% block content %}
    <br>
    <div class="container bg-info">
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3><b>Búsqueda</b></h3>
            </div>
            <div id="controlBusqueda" class="col-md-6">
                <table style="width: 75%">
                    <form accept-charset="utf-8" method="POST">
                        <tr>
                            <td><b>Seleccione el parámetro de búsqueda : </b><br>
                                <select name="ParamBusq">
                                    <option value="nada"></option>
                                    <option value="titulo">Libro</option>
                                    <option value="autor">Autor</option>
                                    <option value="categoria">Categoría</option>
                                    <option value="libreria">Libreria</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="campBusqLibro">
                            <td><b>Campo de búsqueda : </b><br>
                                <select name="campBusqLibro">
                                    <option value="titulo">Titulo</option>
                                    <option value="autor">Autor</option>
                                    <option value="categoria">Categoría</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td ><b>Texto de clave : </b><br>
                                <input type="text" id="parametroBusqueda" value="" placeholder="" maxlength="30" autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br><input id="activarBusqueda" type="button" value="Buscar.." class="btn btn-dark"><input id="cancelarBusqueda" type="button" value="Cancelar" class="btn btn-danger">
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div id="resultadosBusq" class="container bg-warning">
        <br>
        <div class="row">
            <div class="col-md-3">
                <h3><b>Resultados</b></h3><br>
            </div>
            <div class="col-md-8">
                <table style="width: 75%; bg-color: white">
                    <tr>
                        <td>Var1</td><td>Var2</td><td>Var3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}
