{% extends "BcBundle::layout.html.twig" %}
{% block content %}
{% if app.user != null %}
    <br>        
    <div  class="container bg-warning">
        <div class="row"> 
            <div class="col-md-5">
                <br>
                <h2> Menú de usuario </h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" align="center">
                <a href="{{path("bc_index_libro")}}"><input type="button" value="Listado de libros" class="btn btn-info"></a><br><br><br><br>
            </div>
            <div class="col-md-4" align="center">   
                <a href="{{path("bc_index_libreria")}}"><input type="button" value="Listado de Librerías" class="btn btn-info"></a><br><br> 
                <a href=""><input type="button" value="Mi perfil" class="btn btn-dark"></a>
            </div>
            <div class="col-md-4" align="center">  
                <a href="{{path("bc_index_autor")}}"><input type="button" value="Listado de Autores" class="btn btn-info"></a><br><br>
            </div>
        </div>
        <br>
    </div>
    <br>
    {% endif %}
{% endblock %}
