{% extends "BcBundle::layout.html.twig" %}
{% block content %}
    <br>
    {% if app.user != null %}
        <br>
        <div class="container bg-info">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{path("bc_index_libro")}}">
                        <input type="button" value="Ver libros" class="btn btn-warning">
                    </a>
                </div>
            </div>
            <br>
        </div>
        <br>
        <br>
        <div class="container bg-warning">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <br>
                    <h2>Añadir libro</h2>
                    <br>
                    {{form_start(form, {'enctype':'multipart/form-data' })}}
                    {{form_end(form)}}
                    <br>
                </div>
            </div>
        </div>
        <br>
    {% else %}
        <div class="container bg-danger">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5" align="center">
                    <br><br>
                    <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                    <br><br>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
{% endblock %}